canvas {
  display: block;
}

audio {
  display: none;
}
.backgroundColor {
  background-color: #e9d5ff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%; /* Высота 100% видимой области экрана */
  margin-top: 10%;
}

.wasd img,
.arrows img {
  max-width: 100px;
  height: auto;
  margin: 0px 18px -18px 18px;
}
