canvas {
  display: block;
  margin: 0 auto;
}

audio {
  display: none;
}
.backgroundColor {
  background-color: #a78bfa;
}
.container {
  position: relative;
}
.arrows {
  width: 100px; /* устанавливаем ширину */
  height: auto;
  position: absolute; /* Устанавливаем позиционирование элемента относительно его нормального местоположения */
  top: 600px; /* Перемещаем изображение вниз на 20 пикселей относительно его нормального местоположения */
  left: 0px;
}
.wasd {
  width: 100px; /* устанавливаем ширину */
  height: auto;
  position: absolute; /* Устанавливаем позиционирование элемента относительно его нормального местоположения */
  top: 600px; /* Перемещаем изображение вниз на 20 пикселей относительно его нормального местоположения */
  right: 0;
}
